ul {
    color: rgb(245, 245, 200);
    background-color: rosybrown;
    border: 2px solid black;
    position: sticky;
    top: 0;
    z-index: 1000; 
    padding: 0px 5px;
    width: 90%;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    overflow: hidden; 
}
nav ul li {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style: none;
    margin-left: 25px;
}
nav ul li a {
    display: block; 
    padding: 20px;
    color: #141414;
    text-decoration: none;
}
nav ul li:hover {
    background: antiquewhite;
    border-radius: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    margin: 5% auto;
    width: 59%;
    padding: 3%;
    background-color: #99507a;
    border-radius: 50px;
}
.form-group {
    margin-bottom: 20px;
}
div {
    background-color: rosybrown;
    margin: 10px 0;
    border: solid 10px #791e48;
    border-radius: 30px;
    padding: 10px;
}
p {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10%;
}
label, input, textarea {
    display: block;
    margin-bottom: 10%;
}
label {
    text-align: left;
    display: block;
    margin-bottom: 5%;
    border-radius: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
select {
    width: 80%;
    padding: 8%;
    border: 1% solid #ccc;
    border-radius: 4%;
    margin-bottom: 10%;
}
.BotonArriba{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    box-shadow: none;
    border-radius: 20px;
    cursor: pointer;
}
button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #dfeaf5;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #974879;
    padding: 20px;
    background-color: #c27ba4;
    display: flex;
}
.BotonArriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    box-shadow: none;
    border-radius: 20px;
    cursor: pointer;
}
table {
    width: 30%;
    border-collapse: collapse;
    background-color: #f4d6c1;
    margin-top: 20px 0;
    font-size: 1.25rem;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 0px;
    text-align: left;
    border: 2px solid black;
}
div input {
    margin: -1%;
}
.flecha{
    text-align: right;
    width: 50%;
    right: 2%;
    margin-right: -900px;
    margin-top: 4500%;
    border-radius: 50px;
    cursor: pointer;
    padding: 20%;
  }