ul {
    color: rgb(245, 245, 200);
    background-color: rosybrown;
    border: 2px solid black;
    position: sticky;
    top: 0;
    z-index: 1000; 
    padding: 1%;
    width: 10%;
    box-sizing: border-box;
}
nav ul {
    list-style: none;
    overflow: hidden; 
}
nav ul li {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 20%;
}
nav ul li a {
    display: block; 
    padding: 10px;
    color: #141414;
    text-decoration: none;
}
nav ul li:hover {
    background: antiquewhite;
    border-radius: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 5% auto;
    padding: 3%;
    background-color: #99507a;
    border-radius: 50px;
    color: white;
}
.form-group {
    margin-bottom: 20px;
    width: 100%;
}
label {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #dfeaf5;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c27ba4;
    margin: 0;
    padding: 20px;
}
table {
    width: 50%;
    border-collapse: collapse;
    background-color: #f4d6c1;
    margin-top: 20px;
    font-size: 1rem;
    margin-left: 25%;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: left;
}
.flecha {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    cursor: pointer;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
footer {
    text-align: center;
}